Source: gonium
Section: libs
Priority: optional
Maintainer: Sebastian Hagen <sebastian_hagen@memespace.net>
Standards-Version: 3.6.2
Build-Depends: debhelper
XS-Python-Version: 2.4, 2.5

Package: python-gonium
Architecture: all
Depends: python (>= 2.4)
XB-Python-Version: ${python:Versions}
Description: gonium python modules collection
 Gonium is a collection of python modules used for diverse tasks. It's
 intended as a library abstracting common functionality to be used by python
 applications.
