#!/usr/bin/make -f
# based on http://www.debian.org/doc/maint-guide/ch-dreq.en.html

PKGNAME = gonium
TARGETDIR = debian/${PKGNAME}/usr/share/pyshared/${PKGNAME}/

.PHONY: clean binary-indep binary-arch build install

build:

clean:
	rm -rf debian/tmp

install: src/*
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	mkdir -p ${TARGETDIR}
	cp -r src/* ${TARGETDIR}

binary: binary-arch binary-indep

binary-arch:

binary-indep: install
	dh_testdir
	dh_testroot
	dh_fixperms
	dh_pycentral
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb
